# Ambiente Virtual do Python
/venv/
/.venv/
*.venv

# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env

# Diretórios comuns de ambientes virtuais
env/
bin/
lib/
lib64
pyvenv.cfg